
main{
    margin:3em;
    margin-left :17vw;  
    margin-right:17vw;
    display:grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 1em;
}

main>h1{
    border-bottom:solid;
    border-color: #831010;
    grid-column: span 2;
}

/*Θέλουμε τα δυο articles να έχουν απόσταση 1+1=2em ,
φτιάχνουμε περίγραμμα , προσαρμόζουμε τα ύψη και τα 
κάνουμε float left*/
main>article{
    padding:1em;
    width:33vw;
    height:1000px;
    border:solid;
    border-color:#831010;
    border-radius: 17px;
    
}


main>article img{
    width:33.3vw;
}

main p{
    text-align: justify;
    font-size:large;
}


