body {
  font-family: 'Times New Roman', Times, serif;
  font-size: medium;
}
.brand-logo > a{
  float: left;
}
.header-navbar > ul > li {
  margin:1.5em;
  float: left;
}
.header-navbar  ul > li {
  list-style: none;
}
.Show-Sublist ul{
  display: none;
}
/*.Show-Sublist >a:hover{
  color:yellow;
  display: block;
}
*/
.Show-Sublist:hover ul {
  display: block; 
}
a {
  text-decoration: none;
  color: black;
}

main {
  clear: both;
}