
/*Είναι το section με όλες τις κατηγορίες. Του ορίζουμε το πλάτος 
να πιάνει το 100% , και το κάνουμε flex.Το δείχνουμε ως στήλη , 
ώστε στο mobile να εμφανίζεται μια κατηγορία ανά γραμμή.Επιπρόσθετα, 
προσθέτουμε κάποια margins για καλύτερο αποτέλεσμα*/
.categories-articles{
    width:100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2em;
    margin-top: 2em;
}

/*Είναι το banner που εμφανίζεται πριν τις κατηγορίες. Αυτό στο κινητό 
δεν θέλουμε να εμφανίζεται καθώς αποσπά τον χρήστη , και δεν εξυπηρετεί κάποιο 
σκοπό.*/
.banner >img{
    max-width: 100%;
    display: none;
}



/*Κάνουμε flex κάθε κατηγορία και της ορίζουμε 
το μέγεθος ως max-content , προσθέτουμε ένα padding , και τις 
κάνουμε display ως flex.*/
.categories-articles>article{
    padding-top:5px;
    display: flex;
    flex-flow: column nowrap;
    width:max-content;
}


/*Το header αποτελείται απο το όνομα της κάθε κατηγορίας και το εικονίδιο
το κάνουμε align στο κέντρο , και ορίζουμε συγκεκριμένα widths.
Επίσης προσθέτουμε και κάποια borders για καλύτερο αισθητικό αποτέλεσμα*/
.categories-articles header{
    text-align: center;
    width:19.1em;
    padding:4px;
    border-bottom:solid ;
    border-bottom-width: 1px;
}


/*Ορισμός μεγέθους του εικονιδίου κάθε κατηγορίας */
.categories-articles>article img{
    width:32px;
    height: auto;
    
}


article h1{
   padding:0;
   margin:0;
}

article ul{
    list-style: none;
    text-align: left;
}

/*---------------------TABLET-----------------------*/
@media screen and (min-width: 731px) {

    /*Oρίζουμε την main να έχει margin auto για να κεντράρεται*/
    main{
        margin:auto;
    }

    /*Βάζουμε το κείμενο στο κέντρο , και δημιουργούμε ένα πλέγμα 
    απο 2 στήλες , ώστε να εμφανίζονται 2 κατηγορίες ανα γραμμή , βάζουμε 
    κάποια επιπλέον margins , και gaps για αισθητικό αποτέλεσμα*/
    .categories-articles{
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 3em;
        row-gap: 3em;
        margin-bottom: 3em;
        margin-top:3em;
    }

    /*Όταν πάμε στο tablet θέλουμε να εμφανίζεται το banner , το 
    οποίο όμως στο κινητό δεν εξυπηρετεί κάποιο σκοπό καθώς αποσπά το χρήστη 
    απο το βασικό περιεχόμενο.*/
    .banner>img{
        display: block;
    }

    /*Ορίζουμε τα columns που πρέπει να παίρνει κάθε άρθρο*/
    .categories-articles>article{
        grid-column: auto;
    }

  }

  @media screen and (min-width: 1000px)  {
    
    /*Επαναφέρουμε το margin στο deafult , και προσθέτουμε 
    κάποια επιπλέον για την απόσταση στο desktop απο το header και το footer , 
    επίσης το ορίζουμε να πιάσει όλες τις στήλες του πλέγματος.*/
    main{
        margin:auto;
        margin-bottom:3em;
        margin-top:3em;
        grid-column: 1/13;
    }

    /*Ορίζουμε πάλι ένα εσωτερικό grid , αυτή τη φορά με 3 στήλες , 
    ώστε να εμφανίζονται 3 κατηγορίες ανά γραμμή. Επίσης προσθέτουμε 
    κάποια gaps.*/
    .categories-articles{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        column-gap:3em;
        row-gap:3em;
        
    }

    /*Επαναφορά του grid-column στο deafult , ώστε να εμφανίζονται 
    τα άρθρα όπως θέλουμε*/
    .categories-articles>article{
        grid-column:auto;
        
    }

  }

  


