/*tech support ονομάζουμε όλο το main content της σελίδας
τεχνικής υποστήριξης.Ουσιαστικά βάζουμε ένα padding,μια σκιά 
και φτιάχνουμε τα margins.*/

.tech-support {
    background-color: #fff;
    padding: 20px;
    border-radius: 17px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 80%;
    grid-column: 1/13;
    margin:1em;
    max-width: 600px;
    margin:auto;
    margin-top:2em;
    margin-bottom:2em;
}

/*Βάζουμε περίγραμμα και αυξάνουμε το padding 
καθώς και το margin για να απέχουν τα fieldset μεταξύ τους
καθώς και απο το header της φόρμα.*/

.tech-support>form>fieldset {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
}

.tech-support legend {
    font-weight: bold;
}


.tech-support label {
    display: block;
    margin-bottom: 5px;
    color: #333;
}

.tech-support input, textarea {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 15px;
}

/*Φτιάχνουμε τα χρώματα , και προσαρμόζουμε το 
padding για να έχουμε ένα μεγαλύτερο κουμπί.*/
.tech-support input[type="submit"] {
    background-color:#831010;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

/*Η αλλαγή χρώματος στο hover*/
.tech-support input[type="submit"]:hover {
    background-color: #680c18;
}


/*Aλλαγή για RWD δεν υπάρχει , καθώς η σελίδα αποτελείται, 
μόνο απο την φόρμα η οποία δεν προσφέρεται για αλλαγή.*/


